#maquinasContainer{
    display:none;
    background-color: rgba(0,0,0,.6);
    background-image: url("../img/wpp.jpg");
    background-size: cover;
    z-index: 99999;
    position: absolute;
    top: 0; bottom:0; left:0; right: 0;
    padding-top: calc(50vh - 100px);
}
#maquinas{
    display:inline !important;
}
.maquinaVirtual {
    display:inline-block;
    height: 96px;
    margin-right: 50px;
}
.maquinaVirtual img{
    cursor: pointer;
    background-color: rgba(255,255,255,.2);
    height: 96px;
    display:block;
    border-radius: 96px;
    box-shadow: 0 0 5px black;
}
.maquinaVirtual span{
    margin-top: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: "Arial";
    font-size: 16px;
    display: block;
    text-align: center;
    text-shadow: 0 0 4px black;
}

#adicionaMaquina{
    position: absolute;
    bottom: 20px; right: 20px;
}
#adicionaMaquina span{
    cursor: pointer;
    font-size: 42px;
    font-family: "Arial";
    color: white;
    text-shadow: 0 0 6px black;
}

#novaMaquina {
    position: absolute;
    bottom: -200px;
    left: 0; right: 0;
    display:block;
    height: 200px;
    background: #312727;
    box-shadow: 0 0 5px black;
    border-top: solid 2px black;
}
/*
#novaMaquina:after, #novaMaquina:before {
	bottom: 100%;
	right: 170px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;

}

#novaMaquina:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 12px;
	margin-left: -12px;
    color: #312727;
}
#novaMaquina:before {
	border-color: rgba(38, 44, 48, 0);
	border-bottom-color: #262c30;
	border-width: 18px;
    color: #312727;
	margin-left: -18px;
}*/
